:root {
    --font-family: 'Andale Mono', monospace;
    --bg-color: #1e3d59;
    --text-color: #FFFFFF;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    text-align: left;
    padding: 0px 0;
    font-size: 1.5rem;
}

.move-right {
 	margin-left: 35px;
}